@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
    margin-right: 1rem;
    /* margin-top: 2rem; */
    /* width: 16rem; */
    padding-right: 2rem;
    padding-left: 2rem;
    height: 3rem;
    border: solid;
    border-width: 2px;
    border-color: #4451B1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    
    width: 18rem;

    user-select: none;

}

.box:hover{
    /* border: none; */
    background-color: #4451B1 ;
    color: #ffffff;
    transform: scale(1.05);
}

.box:hover .text{
    display: none;
}

.progressBar{
    transition: clip-path 0.5s ease-in-out;
    clip-path: inset(0 100% 0 0);

    width: 0rem;
}

.box:hover .progressBar{
    clip-path: inset(0 0 0 0);
    width: 16rem;
    display: flex;
}

