@tailwind base;
@tailwind components;
@tailwind utilities;

li{
    list-style-type: disc;
}

.uibox{

    /* background-color: #F4FBFF; */
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    /* margin-left: 0.6rem; */
    margin-bottom: 1.625rem;
    
}