.vertical{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 6rem;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(179.26deg, #8139BA -10.76%, #006AA6 109.37%);
    z-index: 40;
}

.cutt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 6rem;
    text-decoration: none;
}

.cutt:hover{
    color: white;
}

.navbutton{
    color: #ffffff;
    text-decoration: none;
}
.navbutton:hover{
    color:#ffffff;
}



.contact{
    
    margin-bottom: 6rem;
    
}
 @media screen and (max-width : 800px) {
    .vertical{
        flex-direction: row;
        height: 3rem;
        width: 100vw;
        background: linear-gradient(89.22deg, #6943B7 0.29%, #0A67A8 127.38%);
        bottom: 0;
        top: auto;
        /* margin-bottom: 10rem; */
        margin-top: 0;
        padding-bottom: 6rem;  
        justify-content: space-evenly; 
    
    }
    .contact{
        margin-bottom: 0;
    }
    
 }
 /* .vertical{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 6rem;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: linear-gradient(179.26deg, #8139BA -10.76%, #006AA6 109.37%);
} */