.headings{
    margin-right: 12rem;
    margin-left: 12rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
    
}
.line{
    
    border-style: solid;
    border-width: 0.1rem;
    border-color: #4451B1;
    border-left: 0.1rem;
    border-right: none;
    border-top: none;
    border-bottom: none;
    margin-left: 12rem;
    margin-right: 12rem;
    margin-bottom: 6rem;
    padding-left: 3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.subheading{

    font-size: 1.5rem;
    color: #4451B1;
    margin-top: 0.5rem;
    font-weight: 500;

}
.marginbox{

    background-color: #F4FBFF;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    margin-left: 0.6rem;
    margin-bottom: 1.625rem;
    
}
.flex{
    display: flex;
    justify-content: center;
    /* padding: 1.125rem; */
   
}
.subsection{
    width: 18vw;
    border-left: 0.2rem;
    border-style: solid;
    border-color: #4451B1;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: #F6F7FF;
    padding: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #4451B1;
}
.points{
    background-color: #F4FBFF;
    padding: 1.325rem;
    margin-top: 0.5rem;
    display: flex ;
    align-items: center;
    justify-content: start;
    line-height: 1.25rem;
    /* min-height: 3.5rem; */
}
.link{
    margin-right: 12rem;
    margin-left: 12rem;

}
.end{

    margin-right: 12rem;
    margin-left: 12rem;
    font-size: 2.375rem;
    color: #4451B1;
    font-weight: 600 ;
    margin-top: 3rem;
}
.subend{

    margin-right: 12rem;
    margin-left: 12rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    
   
}
.figma{
    color: #ffffff;
    background-color: #4451B1;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    align-items: center;
    border: none;
    text-decoration: none;
}

.figma:hover{
    color: #ffffff;
}

.nematoda{
    display: flex;
    justify-content: center;
    align-items: center;
}
.long{
    width: 2.625rem;
}

@media screen and (max-width:800px){
    .line{
        margin-left: 8%;
        margin-right: 8%;
        padding-left: 2rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
    .headings{
        margin-left: 8%;
        margin-right: 8%;
    }
    .end{
        font-size: 1.625rem;
        margin-left: 8%;
        margin-right: 8%;
    }
    .subend{
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 0.625rem;
    }
    
    .subsection{
        width: 30vw;
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .subheading{
        font-size: 1.1rem;
    }
    .points{
        padding: 1rem;
        line-height: 1.3rem;
    }
}

@media screen and (max-width: 480px){

    .line{
        padding-left: 1.625rem;
    }
    .end{
        font-size: 1.425rem;
    }
    .subsection{
        width: 50vw;
        margin-top: 2.625rem;
    }
    .marginbox{
        padding: 0.625rem;
        margin-left: 0.1rem;
        margin-bottom: 0.825rem;
    }
    .flex{
        padding: 0.005rem;   
    }
    .points{
        padding: 1rem;
        line-height: 1.5rem;
    }
    .long{
        width: 4.625rem;
    }

}
