@tailwind base;
@tailwind components;
@tailwind utilities;

.image{
    background-image: url('../../public/image.png');
    height: 100vh;
    max-width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.gallery{

    margin-top: 8rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    
}

.gallery img{
    transition: all 200ms ease-in-out;
    height : 20vw; 
}

.gallery img:hover{
    scale: 1.05;
    
}

.galleryimage{
    background-image: url('../../public/image.png');
    min-height: 30vh;
    max-width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem; 
    padding-bottom: 6rem;
}

.space{
    
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90vw;

}

.texts{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 18%;
}

.download{
    background-color: #4451B1;
    padding: 1rem;
    margin-top: 3rem;
    border: none;
    color: white;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    width: 15rem;
    text-decoration: none;

    transition: transform 200ms;
    
}

.download:hover{
    
    background: linear-gradient(92.98deg, #1B298E -1.6%, #08146E 93.68%);
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.18));
    transform: scale(1.05);
    text-decoration: none;
    color: #FFFFFF;
}
.downicon{
    height: 1.625rem;
    width: 1.625rem;
}
.dp{

   
    width: 36rem;
    height: 36rem;
    margin-bottom: 13%;
    margin-top: 10rem;
    

}
.white{

    background-color: #ffffff;
    margin-top: 8rem;
    margin-left: 18%;
    margin-right: 18%;
    margin-bottom: 8rem;
}

.division{

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 2rem ;
    /* height: 25%; */
    border-style: solid;
    border-width: 0.1rem;
    border-color: #4451B1 ;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 0.25rem; 
}

.dropdownContainer{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 2.5rem; 
    gap: 10px;
    margin-top: 1rem;
}

.horizontal{

    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-top: 2rem;

}

.bg{
    
    margin-top: 3rem;
    /* height: 1395px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
    padding: 4rem;
    transition: all 200ms ease-in-out;
}

.bg:hover{
    scale: 1.02;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.06);;
}

.outerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 18rem;
    margin-right: 18rem; */
    margin-top: 2rem;
}

.innerdiv{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #bab9b9;
}
.icons{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* margin-left: 4.5rem;
    margin-right: 4.5rem; */
    color: #bab9b9;


}
.icons:hover{
    color: #4451B1 ;
    
    
}
.sepration{
    width:2px;
    height: 2rem;
    background-color: #4451B1;
}
.thankyou{
    text-align: center; 
    margin-top:4rem; 
    font-size: 1.625rem; 
    font-weight: 400;
}
.message{
    text-align: center; 
    margin-top: 0.3rem; 
    font-size: 1.05rem; 
    font-weight:400;
}
.head{
    font-size:2rem; 
    font-weight: 600; 
    text-decoration-line: underline; 
    color: #4451B1;
}
.gap{
    height: 0.01rem; 
    width: 34vw; 
    background-color: #4451B1;
}
.para{
    padding-left: 2.5rem;
}
.greet{
    font-size: 1.825rem; 
    font-weight: 500;  
    color: #333333;
}
.name{
    margin-top: -0.625rem;
    font-size : 4.325rem; 
    color: #333333; 
    font-weight: 700;
}
.namecolor{
    color : #4451B1;
    transition: all 300ms ease-in-out;

}

.namecolor:hover{
    letter-spacing: 0.024em;
}
.breif{
   
    color: #333333; 
    font-size: 1.625rem; 
    font-weight: 350;
}

.sizeicon{
    height:3rem;
    width: 3rem;
}

@media screen and (max-width: 800px) {

    .dropdownContainer{
        flex-direction: column;
    }

    .space img {
        max-width: 16rem;
        height: auto;
    }
    .gallery{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .gallery img{
        height: 30vw;
    }
    .white{
        margin-left: 8%;
        margin-right: 8%;
    }
    .greet{
        font-size: 1.225rem;
        
    }
    .texts p {
        font-size: 2.325rem;
    }
    .breif p{
        font-size: 1.225rem; 
        font-weight: 350;
    }
    .dp{
        height: 30rem;
        width: 34rem;
        margin-top: 1%;
    }
    .download{
        font-size: 1rem;
        width: 13rem;
        padding: 0.6rem;
        font-weight: 350;
        margin-top: 1.825rem;
    }
    .texts{
        margin-top: -5%;
        margin-left: 8%;
        margin-right:8% ;
    }
    .downicon{
        height: 1.225rem;
        width: 1.225rem;
    }
    .gap{
        width: 50vw;
    }
    .sizeicon{
        height:2.425rem;
        width: 2.425rem;
    }
}

.grid-toggle{
    height: 2.5rem;
    width: 10rem;

    color: #BBBBBB;

    transition: all 200ms ease-out;

    font-weight: 600;

    user-select: none;

    outline: none;
}

.grid-toggle:hover{
    color: #4451B1;
    background-color: #F9F9F9;
}

.grid-toggle::before{
    
    content: "";

    position: absolute;
    margin-top: 2rem;

    height: 2px;
    width: 0em;

    background-color: #4451B1;

    transition: all 200ms ease-out;

}

.grid-toggle:hover::before{
    width: 10em;
}

@media screen and (max-width: 480px){
    .bg{
        padding: 2rem;
    }
    .image{
        height: 110vh;
    }
    .space{
        flex-direction: column;
        margin-left: 8%; 
        margin-right: 8%;   
    }
    .texts{
        margin-top: 27%;
        margin-left: 2%;
        margin-right:2% ;
    }
    .dp{
        margin-top: 12%;

    }
    .gap{
        width: 55vw;
    }
    .head{
        font-size:1.625rem; 
    }
    .gallery{
        grid-template-columns: 1fr;
    }
    .gallery img{
        height: 70vw;
    }
    .sizeicon{
        height:2.125rem;
        width: 2.125rem;
    }
    .thankyou{
        font-size: 1.425rem;
    }
    .message{
        font-size: 1rem; 
  
    }
    .para{
        padding-left: 1.825rem;
    }
}


