
.behind{
    background-color: #505ec4;
    height: 1.325rem;
    padding:1.425rem ;
    position:absolute;
    transition: all 200ms ease-in-out;
    color: #4451B1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.forward{

    padding: 1.425rem;
    height: 1.425rem;
    border: none;
    background-color: #4451B1;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.rotates:hover .behind{
    transform: rotate(-6deg);
}
.rotates:hover .forward{
    background: linear-gradient(93.24deg, #1E2C91 22.01%, #08146E 88.36%);
    text-decoration: none;
    color: #ffffff;
}
.rotates{

    display: flex;
    align-items: center;
    justify-content: center;
}

